%html
  %head
  %body
    %form{action: '/set-session', method: 'POST'}
      %input{type: 'hidden', name: 'user_id', value: '1'}
      %input{type: 'submit', value:'Owen'}
    %form{action: '/set-session', method: 'POST'}
      %input{type: 'hidden', name: 'user_id', value: '2'}
      %input{type: 'submit', value:'Dave'}
    %form{action: '/set-session', method: 'POST'}
      %input{type: 'hidden', name: 'user_id', value: '3'}
      %input{type: 'submit', value:'Aaron'}
